DATABASE_URL=mongodb://root:rootpassword@127.0.0.1:27017/web?authSource=admin
PAYLOAD_SECRET=YOUR_SECRET_HERE
PAYLOAD_USER_EMAIL=test@example.com
PAYLOAD_USER_PASSWORD=password
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
